# API Configuration
# ------------------------------------------------
# Base URL prefix for all API requests.
# Default: "/api"
VITE_API_BASE_URL=

# Backend API Proxy Target
# ------------------------------------------------  
# The actual backend server URL that the Vite dev server will proxy API requests to.
# Default: "https://famous-headlong-deon.ngrok-free.dev"
VITE_API_PROXY_TARGET=