DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=graduation_user
DB_PASSWORD=graduation_password
DB_DATABASE=graduation_db

JWT_SECRET=fivetoneu2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PORT=8003
NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=600


API_SECRET=0DT...
CLOUD_NAME=db..
API_KEY=572...

BUNNY_STREAM_LIBRARY_ID=639...
BUNNY_STREAM_API_KEY=dff...
BUNNY_STREAM_READ_ONLY_API_KEY=ea5...
APP_BASE_URL=https://your-domain.com

INTERNAL_SERVICE_SECRET=fivetoneu2026

INFERENCE_WEBHOOK_SECRET=your-inference-webhook-secret