PORT=8006

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_WEBHOOK_URL=https://verdant-shirley-barkiest.ngrok-free.dev/api/payment/payos-callback
PAYOS_CANCEL_URL=https://verdant-shirley-barkiest.ngrok-free.dev/api/payment/cancel
PAYOS_RETURN_URL=https://verdant-shirley-barkiest.ngrok-free.dev/api/payment/return
REDIS_HOST=localhost
REDIS_PORT=6379

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=graduation_user
DB_PASSWORD=graduation_password
DB_DATABASE=graduation_db
