DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=graduation_user
DB_PASSWORD=graduation_password
DB_DATABASE=graduation_db

JWT_SECRET=fivetoneu2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

DEFAULT_RESET_PASSWORD=fivetoneu2026

PORT=8002
NODE_ENV=development